@import 'tailwindcss';

@plugin "@tailwindcss/typography";


/*@font-face {*/
/*  font-family : Geologica;*/
/*  src         : url('/fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf') format('truetype');*/
/*  font-weight : 100 900;*/
/*  font-style  : normal;*/
/*}*/

:root {
  @apply text-quarry-dark;
  /*--THEME-space-md : 3rem;*/
  @apply [--THEME-space-md:2rem] lg:[--THEME-space-md:3rem];
  @apply [--THEME-space-sm:1rem] lg:[--THEME-space-sm:1.5rem];
}

@theme inline {
  --spacing-space-md : var(--THEME-space-md);
  --spacing-space-sm : var(--THEME-space-sm);
}

@theme {
  --breakpoint-xs         : 25rem;

  --font-sans             : 'Geologica', sans-serif;

  --color-quarry-dark     : hsl(244, 28%, 11%);
  --color-quarry-brown    : #D7A36C;
  --color-quarry-gray     : #303C45;
  --color-quarry-mute     : #ABABAB;

  --color-telegram        : #2AABEE;
  --color-whatsapp        : #25D366;

  --radius-radius-md      : 20px;

  --animate-running-line  : running-line 60s linear infinite;
  @keyframes running-line {
    0% {
      transform : translateX(0%);
    }
    100% {
      transform : translateX(-50%);
    }
  }
}

input[type=number],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin             : 0;
  -webkit-appearance : none;
  -moz-appearance    : textfield;
}

.prose {@apply max-w-none;}

.prose-in {@apply [&_*:first-child]:mt-0 [&_*:last-child]:mb-0}
